DATABASE_URL="postgresql://user:password@host:1234/mydb?schema=public"
DATABASE_NAME=mydb
DATABASE_HOST=localhost
DATABASE_USER=postgres

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000